<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
       xmlns:jaxws="http://cxf.apache.org/blueprint/jaxws">

    <bean id="personsvc" class="com.epam.wklab.soap.simpl.PersonFriends" />

    <jaxws:endpoint id="person"
                    implementor="#personsvc"
                    address="/PersonFriends"/>
</blueprint>
